.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.cell {
  height: 2rem;
  width: 2rem;
  background: white;
}

.cellEmpty {
  border: 1px black solid;
}

.cellFull {
  background: black;
}

.boardRow {
  display: flex;
  flex-direction: row;
}