.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.cell {
  height: 1rem;
  width: 1rem;
  background: white;
}

.cellEmpty {
  border: 1px black solid;
}

.cellFull {
  background: lightblue;
}

.boardRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.red{
  background: red;
}

.orange{
  background: orange;
}

.yellow{
  background: yellow;
}

.green{
  background: green;
}

.blue{
  background: blue;
}

.indigo{
  background: indigo;
}

.violet{
  background: violet;
}